
html {
    scroll-behavior: smooth;
}


label {
    font-weight: normal;
}

thead, thead th{
    background-color: #b30015;
    color: #ffffff;
    font-weight: normal;
}

.tr {
    background-color: #ffffff;
}

.tr-next {
    background-color: #990011;
    color: #ffffff;
}
